body{
    background-image: linear-gradient(#16384c,rgb(47,50,95),#2f495f);
    /* height: 600px; */
min-height: 600px;
}
section{
    background-color: white;
    border-radius: 5%;
    width:400px ;
    height: 350px;
    margin:40px auto;
     position: relative;

}
img{
    width: 300px;
    height: 300px;
   position: absolute;
   left: 50px;
   top: -30px;
}